.course-summary-container {
  /* max-width: 550px; */
  background-color: #fff;
  border-radius: 8px;
}

.course-info {
  margin-bottom: 1.5rem;
}

.course-image {
  border-radius: 8px;
}

.course-details {
  display: flex;
  flex-direction: column;
}

.order-summary {
  margin-top: 2rem;
}

.complete-payment-button button {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Add responsive design for mobile */
@media (max-width: 768px) {
  .course-summary-container {
    max-width: 100%;
  }
}
